{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />        
        <title>{{ ort }}</title>
        <link rel="stylesheet" href="{% static "/Geotest.css" %}" />
    </head>

    <body>
        {% if image %}
            <img src="{{ image }}">
        {% endif %}
        <h1>{{ ort }}</h1>
        {{ body|safe }}
        <p>Dein Inventar:
        {% if inventory_list %}
        <ul>
        {% for item in inventory_list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <p>Ausser Deinen Kleidern keine Gegenstände</p>
        {% endif %}
        </p>
        <h2>Inventar</h2>
        <p>
            <table>
                <tr>
                    <td style="height:10px; align=left; vertical-align=middle" />
                        <img src="/static/104829.jpg" align="left"/>
                    </td>
                    <td>Fisch</td>
                </tr>
            </table>

        </p>
    </body>
</html>