{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />        
        <title>{{ ort }}</title>
        <link rel="stylesheet" href="{% static "/Geotest.css" %}" />
    </head>

    <body>
        <img src="{% static "/1.jpg" %}">
        <h1>{{ ort }}</h1>
        {{ body|safe }}
        <p>Dein Inventar:
        {% if inventory_list %}
        <ul>
        {% for item in inventory_list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <p>Ausser Deinen Kleidern keine Gegenstände</p>
        {% endif %}
        </p>
    </body>
</html>